[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.2"
djangorestframework-simplejwt = "==4.5"
django-extra-fields = "*"
pillow = "*"
django-base64field = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
